.carousel-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container-fluid {
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-y: auto;
}
.row {
  margin: 0;
  padding: 0;
}
p {
  color: brown;
}
